:host {
  height: 100%;
}

.container--header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  font-size: 32px;
  font-weight: bold;
  padding-top: 12px;
}

.navbar {
  display: flex;

  &__link {
    background: #f44336;
    border-radius: 2px;
    color: white;
    padding: 4px;
    margin-right: 8px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    text-decoration: none;
  }
}

@media screen and (min-width: 576px) {
  .navbar {
    &__link {
      border-radius: 2px;
      padding: 8px;
      margin-right: 16px;
      font-size: 24px;
    }
  }
}