.header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #1976d2;
}

.container--content{
  overflow-y: scroll;
  background: rgb(204, 204, 204);
}

.content {
  height: 77vh;
  scrollbar-width: none;
  background: rgb(224, 224, 224);
}

.footer {
  height: 8vh;
  background: #263238;
  color: white;
  text-align: center;
}
